.card-body{
    padding: 0!important;
}

.card-body img{
    width: 100%;
}

.box{
    width: 100%;
    display: flex;
}

span {
    font-weight: bold;
}

.card {
    box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
}