.container {
    max-width: 1200px;
    margin: 0 auto;
}

.block {
    height: 500px;
    box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
}

.block img{
    width: 100%;
    height: 300px;
}

.badge {
    position: absolute!important;
    border-radius: 0 !important;
}

.block-under {
    padding: 15px;
}

.subtitle {
    font-size: 14px;
    color: #ABACAC;
}

h1 {
    text-align: center;
    margin-bottom: 50px !important;
}

.more {
    color: #5F8CB3;
    cursor: pointer;
}

